header{
  background-color: rgb(136, 0, 0);
  color: white;
  text-align: center;
}

.post-editor{
  margin: 1em 20%;
}

.post-editor-button{
  float: right;
  margin: 1em;
  width: 10em;
}

.post{
  margin: 1em 20%;
}

@media(max-width: 900px){
  .post-editor{
    margin: 1em;
  }
  .post{
    margin: 1em;
  }
}